.downloadLink-1ywL9o {
    position: relative;
    margin-right: 8px;
}

.en-img-wrapper { // the <div> that holds the magnifier and en-img-view
    transition: shut-up-warning-please-my-god;
    z-index: 2;
}

.en-img-view { // the actual <img> class itself
    transition: .2s linear;
}

.en-img-magnifier-hide { // when magnifier is hidden
    opacity: 0;
    pointer-events: none;
}

.en-img-magnifier-round, .en-img-magnifier-square { // both magnifiers
    transition: opacity .1s linear;
    cursor: none;
    z-index: 3;
}

.en-img-magnifier-square { // used for square magnifier option
    border-radius: 0%;
}

.en-img-magnifier-round { // used for circle magnifier option
    border-radius: 50%;
}

.en-img-magnifier-smooth { // used for smooth magnifier option
    transition: .05s linear;
}

.en-img-magnifier-pixel { // used for anti-aliasing magnifier option
    image-rendering: pixelated;
}

.en-img-magnifier-border { // used for border magnifier option
    //border: 1px solid rgb(209, 209, 209) !important;
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
}